.nav {
    background-color:black;
    overflow: hidden;
}

.navname h1:hover {
    background-color:#262a56 ;
}

.navname {
    color: aliceblue;
    padding: 0;
    justify-content:flex-end;
    display: flex;
}


.Hausratsrechner{
    margin-left: 1cm;
    margin-right: 1cm;
}



Link {
    color: aliceblue;
}

