.nav {
    background-color:black;
    overflow: hidden;
}

.navname h1:hover {
    background-color:cadetblue;
    
}

.navname {
    color: aliceblue;
    padding: 0;
    justify-content:flex-end;
    display: flex;
}


.Hausratsrechner{
    margin-left: 1cm;
    margin-right: 1cm;
}

.title{
    text-align: center;
}
 
.rechner {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.zusammenfassung{
    margin: 0.5cm;
    padding-left: 1cm;
    padding-right: 2cm;
    padding-top: 0.25cm;
    border: 0.1cm solid;
    border-radius: 0.25cm;
}

.eingaben{
    margin: 0.5cm;
    margin-right: 2.5cm;
}

form{
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.25cm;
    padding-bottom: 0.5cm;
    border-radius: 0.25cm;
    border: 0.1cm solid;
}

input{
    padding: 0.2cm;
    border-radius: 0.25cm;
    font-size: 0.5cm;
}

button{
    background-color:#05204a;
    color: #e1e2ef;
    border: none;
    text-align: center;
    display: inline-block;
    margin-top: 0.7cm;
    margin-left: 1.4cm;
    border-radius: 0.25cm;
    font-size:x-large;
    padding: 12px 40px;
    cursor: pointer;
}

button:hover{
    background-color: cornflowerblue;
}

h2{
    text-align: center;
}

.result{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border: 0.05cm solid;
    padding: 0.3cm;
}
  

